body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
.parent {
  display: flex;
  justify-content: center; /* Horizontal zentrieren */
  align-items: center;     /* Vertikal zentrieren */
}

.box {
    background-color: aliceblue;
}